<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>TuBodega.pe</title>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alef&display=swap"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link th:href="@{/css/alef.css}" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body
	th:style="'background: url(/img/fumiov2.jpg) no-repeat center center fixed;'">
	<!-- create navigation bar ( header) -->
	<div th:replace="~{fragment/nav :: nav}"></div>
	<br>


	<section
		class="rounded border border-3  m-5 border-secondary text-white cuadro ">
		<div class="container-fluid m-3 ">
			<div class="row">
				<div class="col-md-5">
					<b><img
						src="https://cdn-icons-png.flaticon.com/512/3435/3435091.png"
						width="50" class="img-fluid">Encuentra tu region</b> <br>
					<div class="container-fluid">
						<div class="abs-center">
							<form th:action="@{/bodegas/tiendas}" th:object="${bodega}"
								method="GET">
								<br>
								<div class="form-group">
									<label for="nombre">Buscar por region</label> <input
										type="text" class="form-control" th:field="*{region}"
										name="region">
								</div>
								<br> <input type="submit" th:value="Buscar"
									class="btn btn-primary  btn-lg"> <a type="button"
									th:href="@{/}" class="btn btn-warning btn-lg">Volver</a>

							</form>


						</div>
					</div>

				</div>

				<div class="col-md-3 m-3 text-center borde">

					<b class="text-center">Regiones Disponibles con Tiendas </b> <br>
					<div class="row text-right darker">
						<div class="col-md-6">
							<br>
							<ul>
								<li>Ancash</li>
								<li>Apurimac</li>
								<li>Ancash</li>
								<li>Arequipa</li>
								<li>Cajamarca</li>
								<li>Callao</li>
								<li>Cuzco</li>
							</ul>
						</div>
						<div class="col-md-6">
							<br>
							<ul>
								<li>Huancavelica</li>
								<li>Huanuco</li>
								<li>Ica</li>
								<li>Lambayeque</li>
								<li>Lima</li>
								<li>Pasco</li>
								<li>Piura</li>
								<li>Tacna</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>






</body>
</html>
